Repository orion-net/orion-net.co.jp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.{json,md}": "prettier --write"
}

Add destyle.css
  package.json
  yarn.lock
Due: prettier --write

Add style.scss (#2)
  static/style.scss
Due: prettier --write

Modify whole structures
  __tests__/__snapshots__/404.js.snap
  __tests__/__snapshots__/access.js.snap
  __tests__/__snapshots__/concept.js.snap
  __tests__/__snapshots__/concept1.js.snap
  __tests__/__snapshots__/contact.js.snap
  __tests__/__snapshots__/custom.js.snap
  __tests__/__snapshots__/custom1.js.snap
  __tests__/__snapshots__/custom2.js.snap
  __tests__/__snapshots__/custom3.js.snap
  __tests__/__snapshots__/index.js.snap
  __tests__/__snapshots__/menu.js.snap
  __tests__/__snapshots__/privacy.js.snap
  src/components/Footer.js
  src/components/Layout.js
  src/components/LinkNav.js
  src/components/PhoneNumberLink.js
  src/components/Sidebar.js
  src/messages/index.js
  src/pages/404.js
  src/pages/access.js
  src/pages/concept.js
  src/pages/concept1.js
  src/pages/contact.js
  src/pages/custom.js
  src/pages/custom1.js
  src/pages/custom2.js
  src/pages/custom3.js
  src/pages/index.js
  src/pages/menu.js
  src/pages/privacy.js
  static/img/top3.png
  static/style.css
  static/style.scss
Due: eslint --fix, prettier --write

s/Face Book/Facebook
  src/components/Sidebar.js
Due: eslint --fix, prettier --write

Add explicit width and height to img (#5)
  src/components/Layout.js
  static/style.scss
Due: eslint --fix, prettier --write

Update scss
  static/style.scss
Due: prettier --write

Optimize background image
  static/img/bg_hpb-container.png
Due: none

Update concept1.js
  src/pages/concept1.js
Due: eslint --fix, prettier --write

Update custom.js
  src/pages/custom.js
Due: eslint --fix, prettier --write

Update custom2.js
  src/pages/custom2.js
Due: eslint --fix, prettier --write

Update menu.js
  src/pages/menu.js
Due: eslint --fix, prettier --write

Remove trainling whitespaces
  src/pages/concept1.js
Due: eslint --fix, prettier --write

Update snapshots
  __tests__/__snapshots__/404.js.snap
  __tests__/__snapshots__/access.js.snap
  __tests__/__snapshots__/concept.js.snap
  __tests__/__snapshots__/concept1.js.snap
  __tests__/__snapshots__/contact.js.snap
  __tests__/__snapshots__/custom.js.snap
  __tests__/__snapshots__/custom1.js.snap
  __tests__/__snapshots__/custom2.js.snap
  __tests__/__snapshots__/custom3.js.snap
  __tests__/__snapshots__/index.js.snap
  __tests__/__snapshots__/menu.js.snap
  __tests__/__snapshots__/privacy.js.snap
Due: none

料金改定 (#9)
  __tests__/__snapshots__/404.js.snap
  __tests__/__snapshots__/access.js.snap
  __tests__/__snapshots__/concept.js.snap
  __tests__/__snapshots__/concept1.js.snap
  __tests__/__snapshots__/contact.js.snap
  __tests__/__snapshots__/custom.js.snap
  __tests__/__snapshots__/custom1.js.snap
  __tests__/__snapshots__/custom2.js.snap
  __tests__/__snapshots__/custom3.js.snap
  __tests__/__snapshots__/index.js.snap
  __tests__/__snapshots__/menu.js.snap
  __tests__/__snapshots__/privacy.js.snap
  src/pages/concept1.js
  src/pages/custom.js
  src/pages/custom2.js
  src/pages/menu.js
Due: eslint --fix, prettier --write

Add `>`
  src/pages/menu.js
Due: eslint --fix, prettier --write

Update access.js
  src/pages/access.js
Due: eslint --fix, prettier --write

スタッフ１名を削除
  src/pages/concept.js
  static/img/1496900727362.jpg
Due: eslint --fix, prettier --write

Replaced a image
  src/pages/concept.js
  static/img/1496901447498.jpg
  static/img/staffs/mutou-keisuke.jpg
Due: eslint --fix, prettier --write

駐車場の案内文を更新
  src/pages/access.js
Due: eslint --fix, prettier --write

Added "Edit this page link"
  src/components/Layout.js
  src/pages/404.js
  src/pages/access.js
  src/pages/concept.js
  src/pages/concept1.js
  src/pages/contact.js
  src/pages/custom.js
  src/pages/custom1.js
  src/pages/custom2.js
  src/pages/custom3.js
  src/pages/index.js
  src/pages/menu.js
  src/pages/privacy.js
Due: eslint --fix, prettier --write

商材を使うメニューの値段変更をした。
  src/pages/menu.js
Due: eslint --fix, prettier --write

Added edit button
  src/components/Layout.js
  src/components/Sidebar.js
  static/style.scss
Due: eslint --fix, prettier --write

Update index.js
  src/pages/index.js
Due: eslint --fix, prettier --write

remove: 新型コロナウイルス感染拡大防止のお知らせを削除
  src/pages/index.js
Due: eslint --fix, prettier --write

地図上のリンクを変更
  src/components/AccessMap.js
Due: eslint --fix, prettier --write

improve: Better page name
  _redirects
  netlify.toml
  src/components/LinkNav.js
  src/pages/photos.js
  src/pages/plans.js
  src/pages/products.js
  src/pages/reservation.js
  src/pages/top-pick.js
Due: eslint --fix, prettier --write

Migrated to bun
  bun.lockb
  package.json
  yarn.lock
Due: prettier --write

add: Build script for Bun
  netlify.toml
  scripts/build.sh
Due: none
